<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/productCreateEdit.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Alta de producto</title>
</head>
<body>
    <form action="/products/create" method="POST">
        <label for="product_id" class= 'createProduct'>ID</label>
        <input type="text" required name="product_id">
        <label for="product_nombre" class= 'createProduct'>Nombre del articulo</label>
        <input type="text" required name="product_nombre">
        <label for="product_price" class= 'createProduct'>Precio en pesos</label>
        <input type="text" required name="product_price">
        <label for="product_description" class= 'createProduct'>Descripción</label>
        <input type="text" required name="product_description">
        <button type="submit" class= "btn_registro">Crear</button>
    </form>
    <!--Footer-->
    <%- include("../partials/footer",{}) %>
</body>
</html>