body {
    margin:0px;
}

main {
    display: flex;
    flex-wrap: wrap;
}

main section {
    display:flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    align-items: center;
}
.producto {
    border: solid 2px black;
    padding: 0;
    margin-top: 25px;
    border-radius: 10px;
    background-color: lightblue;
    margin-bottom: 10px;
}

body .cantidad .fas {
    margin-top: 6px
}

.precio{
    margin-top: 0px;
    margin-bottom: 7px;
}

main{
    justify-content: center;
    flex-wrap: wrap;
}


.foto{
    height: 40%;
    background-size: cover;
    background-size: 100% 100%;
    width: 90%;
    text-align: center;
    margin-top: 10px;
}

h5{
    border: solid 1px grey;
    width: 90%;
    text-align: center;
    border-radius: 18px;
    margin: 3px 5px;
    margin-bottom: 12px;

}

img{
    height: 100%;
    width: 100%;

}

.detalle{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2, h3, button, div.cantidad{
    width: 100%;
    text-align: center;
}
.cantidad{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    vertical-align: middle;
}
.cantidad h2{
    border: 2px solid black;
    border-radius: 15px;
    width: 60%;
    text-align: center;
    margin: 2px 0;
    background-color: lightblue;
}
.cantidad a{
    border: 2px solid black;
    border-radius: 13px;
    width: 15%;
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
    background-color: lightblue;
}
button{
    border: 2px solid black;
    border-radius: 20px;
    width: 94%;
    text-align: center;
    margin: 2px 0;
    background-color: lightblue;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.pre4 h1{
    text-align: center;
    text-decoration: underline;
}

.pre4 section{
    width: 100%
}

@media (min-width: 450px){
    main section {
        flex-direction: row;
    }    
    .foto{
        margin-left: 7px;
        height: 95%;
    }
    h2, h3, h5, button, div.cantidad{
        width: 80%;
        text-align: center;
    }

    body .cantidad .fas {
        margin-top: 2px;

    }
    .pre4{
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around
    }

    .pre4 section{
        margin: auto
    }


    .pre4 h1{
        display: inline-block;
        width: 100%
    }

    .pre4 .producto{
        width: 40%
    }
}

@media (min-width: 820px){
    .detalle{
        height: 90%;
        justify-content: space-around;
    }

    .btn_comprar{
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .precio{
        margin-bottom: 20px;
    }
   

}

/*

main article{
    display:flex;
    width: 90%;
}

main .pre1{
    justify-content: center;

}

main div.ar1{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    
}

main div.ar1 img{
    width:100%;
}

main div.ar1 h2, main div.ar1 h3{
    text-align: center;
    width: 100%;
    margin: 12px 0;
}

header input {
    border-radius: 15px
}

main h4{
    margin-left: 60px;
}

main h6{
    margin-left: 20px;
}

.pre2{
    justify-content: space-around;
    flex-wrap: wrap;
}


.pre2 div{
    width: 27%;
    display: flex;
    justify-content: space-around;
}

main .pre2 h1{
    border: 4px solid black;
    border-radius: 20px;
    width: 94%;
    text-align: center;
    margin: 2px 0;
    background-color: lightblue;
}

main div i{
    border: 1px solid black;
    border-radius: 13px;
    width: 35%;
    margin: auto;
    padding: auto;
    background-color: lightblue;
}

main div i .fas{
    width: 100%;
    justify-content: center;
}

.pre3 {
    width: 85%;
    border: 1px solid rgb(102, 102, 102);
    border-radius: 10px;
    margin-top: 30px
}

.pre3 h5{
    margin: 4px 4px;
}

.pre4{
    flex-direction:column;
    justify-content: center;
    width: 85%;
}

.pre4 h1{
    text-align: center;
    margin: 0;
    margin-top: 40px;
}

main div.ar4{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: solid 1px black;
    padding: 0;
    flex-wrap: wrap;
    margin-top: 25px;
    border-radius: 10px;
    background-color: lightblue;
    margin-bottom: 10px;
    justify-content: center;

}

main div.ar4 img{
    width:100%;
}

main div.ar4 h4, main div.ar4 h6{
    text-align: center;
    width: 100%;
    margin: 8px 0;
}

@media (min-width: 450px){
    

    main section{
        display: column;
        border: 2px solid darkslategrey;
        width: 90%
    }

    .foto{
        width: 60%;
        height: 100%;
    }

    article div{
        border: none;
    }



    
}



@media (min-width: 800px){

       
      
    }

    */