<footer>
    <section class= 'primera-linea'>
        <form action="mailto: hbarba00@gmail.com.ar">
            <input type="text" name= "newsletter" placeholder="Ingrese su email para suscribirse...">
        </form>
    </section>
    <section class= 'segunda-linea'>
        <section class= 'izquierda'>
            <ul>
                <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                <li><a href=""><i class="fab fa-instagram"></i></a></li>
                <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
        </section>
        <section class= 'centro'>
            <form action="mailto: hbarba00@gmail.com.ar">
                <input type="text" name= "newsletter" placeholder="Ingrese su email para suscribirse...">
            </form>
        </section>
        <section class= 'derecha'>
            <form action="mailto: hbarba00@gmail.com.ar">
                <input type="submit" value="CONTACTO">
            </form> 
        
        </section>
    </section>
</footer>