<header>  
    <section class='hea0'>
        <img src="/images/Logo.jpg">
    </section>
    <section class="hea1">
        <nav>
            <ul>
                <li><a href=""><i class="fas fa-align-center aa"></i></a></li>
                <li><a href="/users/Login"><i class="far fa-user"></i></a></li>
                <li><a href="/Carrito"><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </nav>
    </section>
    <section class="hea2">
        <nav>
            <input type="text" name="buscador" id="buscador" placeholder="Busca lo que quieras!">
        </nav>
    </section>


</header>