<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/carrito.css">
    <link rel="stylesheet" href="/stylesheets/asideCarrito.css">
    <link rel="stylesheet" href="/stylesheets/principalCarrito.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Carrito de compras</title>
</head>
<body>
    <header>
    </header>
    <main>
        <aside>
            <section class='sec-oferta'>
                <h3>Ofertas destacadas</h3>
                <section class='oferta'>
                    <a href="#"><img src="/images/imagen.jpg" alt="aca va imagen">
                    <h5>Nombre Articulo 1</h5></a>
                    <form action="#">
                        <label for='cantidad' class='oferta-titulo'>Nombre Articulo</label>
                        <label for='cantidad' class='oferta-precio'>$ 100,00</label>
                        <input type='number' class ='oferta-cantidad' name="cantidad" id= "cantidad"placeholder="Cantidad">
                        <input type='submit' class='oferta-agregar' value="Agregar">
                    </form>
                </section>
                <section class='oferta'>
                    <a href="#"><img src="/images/imagen.jpg" alt="aca va imagen">
                    <h5>Nombre Articulo 2</h5></a>
                    <form action="#">
                        <label for='cantidad' class='oferta-titulo'>Nombre Articulo</label>
                        <label for='cantidad' class='oferta-precio'>$ 100,00</label>
                        <input type='number' class ='oferta-cantidad' name="cantidad" id= "cantidad"placeholder="Cantidad">
                        <input type='submit' class='oferta-agregar' value="Agregar">
                    </form>
                </section>
                <section class='oferta'>
                    <a href="#"><img src="/images/imagen.jpg" alt="aca va imagen">
                    <h5>Nombre Articulo 3</h5></a>
                    <form action="#">
                        <label for='cantidad' class='oferta-titulo'>Nombre Articulo</label>
                        <label for='cantidad' class='oferta-precio'>$ 100,00</label>
                        <input type='number' class ='oferta-cantidad' name="cantidad" id= "cantidad"placeholder="Cantidad">
                        <input type='submit' class='oferta-agregar' value="Agregar">
                    </form>
                </section>

            </section>
        </aside>
        <section class='principal'>
            <h3 class='art-titulo'>CARRITO DE COMPRAS</h3>
            <div class= 'main'>
                <article class='articulos'>
                    <img class = 'art-imagen' src="/images/imagen.jpg" alt="imagen">
                    <div class='art-articulo'>
                        <h4 class='art-nombre'>Nombre articulo</h4>
                        <div class='art-cantidad'>
                            <input type="number" name="cantidad" min="0" id="cantidad">
                            <h5>Qty. $ 100,00 p. uni</h5>
                        </div>
                        <h4>Subtotal $ 500,00</h4>
                    </div>
                    <button class='art-eliminar'><i class="far fa-trash-alt"></i></button>

                </article>
                <article class='articulos'>
                    <img class = 'art-imagen' src="/images/imagen.jpg" alt="imagen">
                    <div class='art-articulo'>
                        <h4 class='art-nombre'>Nombre articulo</h4>
                        <div class='art-cantidad'>
                            <input type="number" name="cantidad" min="0" id="cantidad">
                            <h5>Qty. $ 100,00 p. uni</h5>
                        </div>
                        <h4>Subtotal $ 500,00</h4>
                    </div>
                    <button class='art-eliminar'><i class="far fa-trash-alt"></i></button>

                </article>
                <article class='articulos'>
                    <img class = 'art-imagen' src="/images/imagen.jpg" alt="imagen">
                    <div class='art-articulo'>
                        <h4 class='art-nombre'>Nombre articulo</h4>
                        <div class='art-cantidad'>
                            <input type="number" name="cantidad" min="0" id="cantidad">
                            <h5>Qty. $ 100,00 p. uni</h5>
                        </div>
                        <h4>Subtotal $ 500,00</h4>
                    </div>
                    <button class='art-eliminar'><i class="far fa-trash-alt"></i></button>

                </article>
                <article class='articulos'>
                    <img class = 'art-imagen' src="/images/imagen.jpg" alt="imagen">
                    <div class='art-articulo'>
                        <h4 class='art-nombre'>Nombre articulo</h4>
                        <div class='art-cantidad'>
                            <input type="number" name="cantidad" min="0" id="cantidad">
                            <h5>Qty. $ 100,00 p. uni</h5>
                        </div>
                        <h4>Subtotal $ 500,00</h4>
                    </div>
                    <button class='art-eliminar'><i class="far fa-trash-alt"></i></button>

                </article>
                <article class='articulos'>
                    <img class = 'art-imagen' src="/images/imagen.jpg" alt="imagen">
                    <div class='art-articulo'>
                        <h4 class='art-nombre'>Nombre articulo</h4>
                        <div class='art-cantidad'>
                            <input type="number" name="cantidad" min="0" id="cantidad">
                            <h5>Qty. $ 100,00 p. uni</h5>
                        </div>
                        <h4>Subtotal $ 500,00</h4>
                    </div>
                    <button class='art-eliminar'><i class="far fa-trash-alt"></i></button>

                </article>
                <article class='articulos'>
                    <img class = 'art-imagen' src="/images/imagen.jpg" alt="imagen">
                    <div class='art-articulo'>
                        <h4 class='art-nombre'>Nombre articulo</h4>
                        <div class='art-cantidad'>
                            <input type="number" name="cantidad" min="0" id="cantidad">
                            <h5>Qty. $ 100,00 p. uni</h5>
                        </div>
                        <h4>Subtotal $ 500,00</h4>
                    </div>
                    <button class='art-eliminar'><i class="far fa-trash-alt"></i></button>

                </article>
                <article class='articulos'>
                    <img class = 'art-imagen' src="/images/imagen.jpg" alt="imagen">
                    <div class='art-articulo'>
                        <h4 class='art-nombre'>Nombre articulo</h4>
                        <div class='art-cantidad'>
                            <input type="number" name="cantidad" min="0" id="cantidad">
                            <h5>Qty. $ 100,00 p. uni</h5>
                        </div>
                        <h4>Subtotal $ 500,00</h4>
                    </div>
                    <button class='art-eliminar'><i class="far fa-trash-alt"></i></button>

                </article>
          
                <article class='total'>
                    <h3 class='car-descuento'> Descuento ($): -100,00   </h3>
                    <h2 class='car-total'>Total ($): 1000,00 </h2>
                </article>
                <article class='botonera'>
                    <button onclick="location.href='/';" >Seguir comprando</button>
                    <button >Finalizar compra</button>
                </article>
            </div>
        </section>
    </main>

    <!--Footer-->
    <%- include("partials/footer",{}) %>
</body>
</html>