<!DOCTYPE html>   
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Sarahs Accesorios</title>
      <link rel= "stylesheet" href= "/stylesheets/Detalles.css">
      <link rel= "stylesheet" href= "/stylesheets/footer.css">
      <link rel= "stylesheet" href= "/stylesheets/header.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

  </head>
  <body>
      <div class=container>
        <%- include("partials/header",{}) %>    
          <main>
            <section>
              <article class='pre1'>
                  <div class='ar1'>
                   <div class='foto'>
                    <img src="/images/art.jpg">
                  </div>
                    <h2 class="nombreArt">Nombre del Articulo</h2>
                    <h3 class="pre">Precio</h3>
                  </div>
                </article>
              <article class='pre2'>
                  <h2>Cantidad</h2>
                  <div>
                    <i class="fas fa-arrow-up"></i>
                    <i class="fas fa-arrow-down"></i>
                  </div>
                  <h1>Comprar</h1>

                </article>
                <article class='pre3'>
                  <div>
                      <h5>descripcion de los articulos descripcion de los articulos descripcion de los articulos descripcion de los articulos descripcion de los articulos descripcion de los articulos descripcion de los articulos descripcion de los articulos descripcion de los articulos descripcion de los articulos descripcion de los articulos descripcion de los articulos descripcion de los articulos descripcion de los articulos descripcion de los articulos descripcion de los articulos
                      </h5>
                    </div>
                  </article>
            </section>
            <section>
              <article class='pre4 pre1'>
                  <h1>Recomendado para vos</h1>
                <div class='ar4'>
                    <img src="/images/art.jpg">
                    <h4 class="nombreArt">Nombre del Articulo</h2>
                    <h6 class="pre">Precio</h3>
                    </div>
                  </article>
            </section>
          </main>
          <footer>
            <section class= 'primera-linea'>
                <form action="mailto: hbarba00@gmail.com.ar">
                    <input type="text" name= "newsletter" placeholder="Ingrese su email para suscribirse...">
                </form>
            </section>
            <section class= 'segunda-linea'>
                <section class= 'izquierda'>
                    <ul>
                        <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href=""><i class="fab fa-instagram"></i></a></li>
                        <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </section>
                <section class= 'centro'>
                    <form action="mailto: hbarba00@gmail.com.ar">
                        <input type="text" name= "newsletter" placeholder="Ingrese su email para suscribirse...">
                    </form>
                </section>
                <section class= 'derecha'>
                    <form action="mailto: hbarba00@gmail.com.ar">
                        <input type="submit" value="CONTACTO">
                    </form> 
                
                </section>
            </section>
        </footer>
        </div>
        </body>
        </html>