<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Este es el Home</title>
</head>
<body>
    <h1>Hola!</h1>
    <a href="/users/register">Registro</a>
    <a href="/users/Login">Login</a>
    <a href="/Carrito">Carrito</a>
    <a href="/products/list">Listado de productos</a>
    
    <!--Footer-->
    <%- include("partials/footer",{}) %>

</body>
</html>